
<%- include('partials/header') -%>
<main class=" row justify-content-center content-evenly index p-12 bg-primary-100">
    <div class="pl-0 pr-0 card card-side card-normal bg-white-200 shadow-xl max-w-2xl m-2">
        <div class="card-body bg-white-200">
          <h2 class="card-title">About VirtualStudio</h2>
          <p>Virtualstudio is a virtual gallery space for artists and creatives. We want to eliminate the need for expensive gallery space for those creating art and design works. We want to create an online platform that makes it easier to show professional works and make it easier for artists to sell their work.</p>

            <p>We believe in the power of technology. With Virtualstudio you can leverage technology to create a virtual gallery space that offers so much more than a traditional brick-and-mortar space:</p>
            
            <p>-No more lugging around heavy canvases or awkward frames</p>
            
            <p>-One place where all your artwork is stored, accessible anywhere, anytime</p>
            
            <p>-A chance to get exposure and grow your business with quality photos and video tutorials</p>
          <div class="card-actions justify-content-center ">
            <a href="/profile"> <button class="btn btn-outline btn-primary">Claim your space</button></a>
          </div>
        <figure class="w-1/2"><img src="/imgs/abstract-art3.jpg" alt="circle"/></figure>
        </div> 
      </div>

      <div class="pl-0 pr-0 card card-side card-normal bg-white-200 shadow-xl max-w-2xl m-2">
        <div class="card-body bg-white-200">
          <h2 class="card-title"></h2>
          <p class="text-purple-700 italic leading-relaxed text-lg font-medium">We are a new startup that is trying to make it easier for artists and creatives to show their work.</p>
            <p class="text-purple-700 italic leading-relaxed text-lg font-medium">We provide a virtual gallery space where you can post your work and get feedback from other users.</p>
            
            <p class="text-purple-500">Our company is focused on taking the hassle out of running an online gallery, making it easier for anyone who uses a computer to share their creative work with the world.</p>
            <p class="text-purple-500">Virtualstudio is a new platform for art and design that has the potential to change the way people show their work.</p>
            <p class="text-purple-500">We're here to make it easier for artists and creatives to showcase their work, without the need for expensive gallery space. Our platform is designed to eliminate the hassle of setting up and maintaining a physical gallery, making it possible for anyone to share their work with a worldwide audience.</p>
            <p class="text-purple-500">We believe that art should be accessible to all, regardless of location or financial situation. We strive to help artists around the world turn their ideas into reality by providing them with the tools they need to succeed online.</p>
            
        
        </div> 
       
      </div>
      
</main>    
<%- include('partials/footer') -%>
