<%- include('partials/header') -%>
<main class="row justify-content-center content-evenly index p-12 bg-primary-100">
  <div class="pl-0 pr-0 card card-side card-normal bg-white-200 shadow-xl max-w-2xl m-2">
    <We class="card-body bg-white-200">
      <h2 class="card-title prose">About VirtualStudio</h2>
      <p>
        Virtualstudio is a virtual gallery space for artists and creatives. We
        want to create an alternative for expensive gallery space for those
        creating art and design works.
      </p>
      <p>We want to create an online platform that
        makes it easier to show professional works and make it easier for
        artists to sell their work.
      </p>
      <p class="mb-2">
        We believe in the power of technology. With Virtualstudio you can
        leverage technology to create a virtual gallery space that offers so
        much more than a traditional brick-and-mortar space:
      </p>
      <div class="card p-3 bg-slate-100">
        <p class="text-slate-500 mb-2">- No more lugging around heavy canvases or awkward frames</p>

        <p class="text-slate-500 mb-2">
          - One place where all your artwork is stored, accessible anywhere,
          anytime
        </p>

        <p class="text-slate-500 mb-2">
          - A chance to get exposure and grow your business with quality photos.
        </p>
      </div>
      <div class="card-actions justify-content-center mt-4">
        <a href="/profile">
          <button class="btn btn-outline btn-primary">
            Claim your space
          </button></a>
      </div>
  </div>
  </div>

  <div class="pl-0 pr-0 card card-side card-normal bg-white-200 shadow-xl max-w-2xl m-2">
    <div class="card-body bg-white-200">
      <h2 class="card-title"></h2>

      <p class="">
        Our company is focused on taking the hassle out of running an online
        gallery, making it easier for anyone who uses a computer to share their
        creative work with the world, free of charge.
      </p>
      <p class="">
        Virtualstudio is a new platform for art and design that has the
        potential to change the way people show their work.
      </p>
      <p class="">
        We're here to make it easier for artists and creatives to showcase their
        work, without having to rely on costly and limited gallery space. Our platform is
        designed to eliminate the hassle of setting up and maintaining a
        physical gallery, making it possible for anyone to share their work with
        a worldwide audience.
      </p>
      <p class="">
        We believe that art should be accessible to all, regardless of location
        or financial situation. We strive to help artists around the world turn
        their ideas into reality by providing them with the tools they need to
        succeed online.
      </p>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>