
<%- include('partials/header') -%>
<main class="row m-auto place-content-center w-full pt-5 pl-5 pr-5 pb-36 sm:pt-12 sm:pl-12 sm:pr-12 sm:pb-72 bg-primary-100">
    <div class="pl-0 card card-side card-normal bg-white-200 shadow-xl max-w-xl m-2">
        <div class="card-body bg-purple-200">
          <h2 class="card-title">Join us now!</h2>
          <p class="">VirtualStudio is a virtual gallery space that allows artists and creatives to showcase their work in an online, accessible format.</p>
          <!-- <p>VirtualStudio is a virtual gallery space that allows artists and creatives to showcase their work.</p> -->
          <div class="card-actions justify-center ">
            <a href="/login"> <button class="btn btn-outline btn-primary">Login</button></a>
            <a href="/signup"><button class="btn btn-outline btn-primary">Signup</button></a>
          </div>
        </div> 
        <figure><img src="/imgs/abstract-art.jpg" alt="circle"/></figure>
      </div>
      <div class="pl-0 pr-0 card card-side card-normal bg-white-200 shadow-xl max-w-xl m-2">
        <div class="card-body bg-white-200">
          <p class=" italic leading-relaxed font-medium">We believe that the best way to get your work seen is through a digital platform, and we want to make it easy for you to reach an audience.</p>

          <p class="text-purple-700 italic leading-relaxed"> Our mission is simple: we want to eliminate the need for limited and costly gallery space, so you can concentrate on what you do best—creating art or design works. We want to help you share your work with an audience of potential clients who are looking for what you have to offer.</p>
      
        </div> 
       
      </div>
</main>    
<%- include('partials/footer') -%>
